h1,
p {
  font-family: sans-serif;
}
body {
  height: 100%;
  background-color: #efe2cf;
}

#header-txt {
  font-family: "BhuTuka Expanded One";
  font-size: 6em;
  padding: 2vh;
  margin: 4vh 0 6vh;
}

#header-subtxt {
  margin-top: -6vh;
  font-family: "Raleway";
  font-size: 2em;
  margin-bottom: 12vh;
}

.form-control {
  background-color: #efe6d8;
  border: 1px solid black;
  /* border-radius: 50px; */
  width: 20vw;
  height: 20%;
  padding: 2vh;
}

/* input control */
.form-control:focus {
  border-color: black;
  background-color: #efe2cf;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-select {
  width: 15vw;
}

.form-label {
  text-transform: lowercase;
  font-size: 1em;
  margin-top: 5vh;
  border-top: 1px solid #7b8a96;
  padding: 2vh 0;
}

.input-lrg {
  height: 13vw;
  width: 26vw;
}

.title {
  color: pink;
  margin-top: 55px;
}

.headers,
.form-label,
p {
  font-family: Raleway;
}
.grid {
  display: grid;
}

.grid.two {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid.three {
  grid-template-columns: 1fr 2fr 3fr;
}

#lab {
  border: 1px solid black;
  width: 30vw;
}

#places {
  border: 1px solid black;
  padding: 3vw;
  margin-left: -12vw;
}

#lab-header {
}

.type {
  text-transform: lowercase;
  font-size: 3.5vh;
  margin: 0vh;
  font-family: "Noto Serif Display";
}

.user {
  text-transform: lowercase;
  font-size: 4vh;
  margin: 1vh 0 0 0;
  font-family: "Noto Serif Display";
}

.sections {
  margin: 10vh 0 12vh 0;
}

i {
  font-size: 4vh;
  margin: 0 2vh;
  padding: -7vh 0 2vh;
  vertical-align: middle;
}
.especially {
  margin: 4vh -4vw 0 -5vw;
  font-family: "Noto Serif Display";
  font-weight: 600;
}

.header-three {
  margin-bottom: 10vh;
}

/* name of section */
.subtitle {
  font-family: "Noto Serif Display";
  font-weight: 700;
  font-size: 6vh;
  margin-left: -2vw;
  text-align: left;
}

/* restaurant input by user */
.input-primary {
  font-family: "Noto Serif Display";
  font-size: 4vh;
  text-align: left;
  font-style: italic;
  margin-top: 2vh;
}

/* must try */
.subtitle-secondary {
  font-family: "Noto Serif Display";
  font-weight: 800;
  padding: 0 1.5vw 0 0;
  letter-spacing: 0.3px;
}

/* extra content input by user */
.input-secondary {
  font-family: raleway;
  font-weight: 100;
  margin-top: 1vh;
  font-size: 3vh;
}

/* description input by user */
.description {
  text-align: left;
  margin: inherit;
  font-family: "Noto Serif Display";
  font-weight: 100;
  font-style: italic;
  margin-top: 1vh;
}

/* address */
.addy {
  margin: inherit;
  /* text-align: left; */
  margin-bottom: 2vh;
  font-family: "Noto Serif Display";
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  margin-left: -1vw;
  font-size: 0.7em;
}
/* city name */
h3 {
  font-family: "Raleway";
}

.little-imgs {
  width: 300px;
  height: 200px;
  object-fit: cover;
  opacity: 75%;
  margin-left: 1vw;
}
