h1,
p {
  font-family: sans-serif;
}
body {
  height: 100%;
  background-color: #efe2cf;
}

.cartButton {
  background-color: pink;
  color: white;
  padding: 5px 15px;
  border: none;
}
.form-control {
  background-color: #efe2cf;
  border: 1px solid black;
  border-radius: 50px;
  width: 20vw;
}

/* input control */
.form-control:focus {
  border-color: black;
  background-color: #efe2cf;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-select {
  width: 15vw;
}

.form-label {
  text-transform: lowercase;
  font-size: 1.4em;
  margin-top: 5vh;
  border-top: 1px solid #7b8a96;
  padding: 2vh 0;
}

.input-lrg {
  height: 13vw;
  width: 26vw;
}

.title {
  color: pink;
  margin-top: 55px;
}

.grid {
  display: grid;
}

.grid.two {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid.three {
  grid-template-columns: 1fr 2fr 3fr;
}

#lab {
  border: 1px solid black;
  width: 30vw;
}

#places {
  border: 1px solid black;
  padding: 3vw;
  margin-left: -12vw;
}

#lab-header {
}

.type {
  text-transform: lowercase;
  font-size: 4vh;
  margin: -1vh;
}

.user {
  text-transform: lowercase;
  font-size: 4vh;
  margin: 1vh 0 0 0;
}

.sections {
  margin: 10vh 0 12vh 0;
}

.imgs {
  padding: 10vh;
}

.especially {
  margin: 0vh -5vw 0 -5.5vw;
}

.header-three {
  margin-bottom: 10vh;
}
